/*Fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');


/*Selector de etiqueta*/

form{
    width: 100%;
    margin: auto;
}

form label{
    font-size: 20px;    
    display: block;
}

form input, form textarea{
    margin-bottom: 20px;
    width: 40%;
    display: block;
}


/*Selectores de clase*/

.barraSuperior{
    background-color: white;
    text-align: center;
    line-height:0;
}

img.redimension1{
    width: 30%;
    height: 30%;
}

img.redimension2{
    width: 50%;
    height: 50%;
}

.button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
    text-align: center;
    font-display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #098d1a;
    color: white;
}

.linea{
    background-color: rgb(232, 121, 8);
    padding-top: 1px;
    padding-bottom: 1px;
    
}

.pieDePagina{
    display: flex;
    font-family: 'Rowdies', cursive;
    text-align: center;
    list-style: none;
    color: rgb(232, 121, 8);
    font-weight: 500;
    font-size: 16px;
}

.datos1{
    margin-right: auto;
    margin-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height:0.8;
}

.redesSociales{
    margin-left: auto;
    margin-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.contacto{
    font-family: 'Rowdies', cursive;
    color: rgb(232, 121, 8);
    font-weight: 100;
    font-size: 40px;
    margin-left: 10px;
}

.formulario{
    font-family: 'Rowdies', cursive;
    text-align: left;
    color: black;
    margin-left: 10px;
}

/* Inicio Lanzamientos */

.tituloGradiante{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Rowdies', cursive;
    color: #FFFFFF;
    font-size: 34px;
    font-weight: 500;
    background-image: linear-gradient(to right, red , yellow);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;

}


/* Final de Lanzamientos */

.contenedor1{
    background-color: white;
    border-top: solid 2px #ECE8E8;
    border-right: solid 2px #ECE8E8;
    border-bottom: solid 2px #ECE8E8;
    border-left: solid 2px #ECE8E8;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textoProducto{
 font-family: 'Rowdies', cursive;
    text-align: center;
    color: rgb(232, 121, 8);
    font-weight: 400;
    font-size: 30px;
}

.imagenProducto{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedor2{
    background-color: white;
    border-top: solid 2px #ECE8E8;
    border-right: solid 2px #ECE8E8;
    border-bottom: solid 2px #ECE8E8;
    border-left: solid 2px #ECE8E8;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.tituloGeneral{
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: rgb(232, 121, 8);
    font-weight: 200;
    font-size: 35px; 
}

.parrafo{
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: 20px; 
}








.btn1{
    display: flex;
    background-color: #4CAF50;
    justify-content: center;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;

}

.btn1:hover{
    background-color:#008CBA;
    color: white;
}

.contenedorProd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col{
    margin-top: 50px;
    margin-bottom: 50px;
}

.col:hover{
    transform: translateY(-2%);
}

.contenedorNosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3rem;
}

/*Selectores de id*/

#barranav{
    background-color:rgb(232, 121, 8);
}

#barranav ul li a{
    font-family: 'Rowdies', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
}

#barranav ul li a:hover{
    color: rgb(100, 97, 97);
}

#oferta h1{
    background-color: rgb(232, 121, 8);
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#oferta .ofertaDia{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#oferta .ofertaDia figure{
    text-align: center;
    border-top: solid 2px #ECE8E8;
    border-right: solid 2px #ECE8E8;
    border-bottom: solid 2px #ECE8E8;
    border-left: solid 2px #ECE8E8;
    border-radius: 10px;
    padding: auto;
    text-align: center;
}

#oferta .ofertaDia figure img{
    text-align: center;
    
}

#oferta .ofertaDia figure figcaption{
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: rgb(232, 121, 8);
    font-weight: 400;
    font-size: 30px;
}

#oferta .ofertaDia p.textoProducto{
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: rgb(232, 121, 8);
    font-weight: 400;
    font-size: 30px;
    
}
