//Variables de fuentes
$mainFont: 'Rowdies', cursive;

//Variables de colores
$mainColor: rgb(232, 121, 8);
$secondaryColor: #FFFFFF;
$paragraphColor: #333333;
$hoverColor1: rgb(100, 97, 97);
$hoverColor2: #098d1a;
$hoverColor3: #4498C6;
$boxColor: #ECE8E8;
$buttonColor: #008CBA;
$formColor: #305896;

//Variables de redimensión de imágenes
$w-30: 30%;
$w-50: 50%;
$h-30: 30%;
$w-50: 50%;
